.contract {
    background: url("../img/dopPage/contract.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.contract__title {
    margin: 150px 0 0 0;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;
    @include breakpoint(lg-hd) {
        font-size: 18px;
        line-height: 18px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 60px 0 0 0;
    }
}

.contract__subtitle {
    margin: 0 0 40px 0;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    color: #ffd447;
    @include breakpoint(lg-hd) {
        font-size: 22px;
        line-height: 37px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 0 0;
    }
}

.contract__text {
    max-width: 1625px;
    margin: 15px 0 20px 0;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;

    color: #ffffff;
    @include breakpoint(lg-hd) {
        font-size: 22px;
        line-height: 37px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 0px 0;
    }
}
.contract__text p {
    margin: 50px 0 30px 0;
    @include breakpoint(lg-hd) {
        font-size: 22px;
        line-height: 30px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 0px 0 30px 0;
    }
}
