@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), to(#ffd447)), url("../img/ФОН.png");
  background: linear-gradient(to bottom, transparent 65%, #ffd447), url("../img/ФОН.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
  height: 100%;
  padding: 0 4%;
}

.menu {
  margin: 20px 0 20px 0;
  min-height: 100vh;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .menu__item ul {
    display: block;
  }
}

.menu__item ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item ul li a {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .menu__item ul li a {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    position: relative;
    color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .menu__item ul li a {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    position: relative;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  .menu__item ul li a {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    position: relative;
    color: #ffffff;
  }
}

.menu__item a::before {
  content: "";
  background: #ffd447;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

@media (max-width: 767px) {
  .menu__item a::before {
    content: "";
    background: #ffd447;
    width: 400%;
    height: 2px;
    position: absolute;
    bottom: -1px;
  }
}

.menu__item .logo::before {
  content: "";
  background: #ffd447;
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: -1px;
}

.menu__itemleft li a:first-child {
  margin: 0 60px 0 0;
}

@media (max-width: 1400px) {
  .menu__itemleft li a:first-child {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 1199px) {
  .menu__itemleft li a:first-child {
    margin: 0 20px 0 0;
  }
}

.menu__itemleftlast::before {
  content: "";
  background: #ffd447;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

@media (max-width: 767px) {
  .menu__itemleftlast::before {
    content: "";
    background: #ffd447;
    width: 400%;
    right: 0;
    height: 2px;
    position: absolute;
    bottom: -1px;
  }
}

.menu__itemright li a {
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  .menu__itemright li a {
    margin: 0px;
  }
}

.logo {
  width: 205px;
}

@media (max-width: 1400px) {
  .logo {
    width: 160px;
  }
}

@media (max-width: 1199px) {
  .logo {
    width: 110px;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 80px;
  }
}

.menu__text {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__text p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  max-width: 630px;
  margin: 0 auto;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .menu__text p {
    font-size: 50px;
    max-width: 550px;
  }
}

@media (max-width: 767px) {
  .menu__text p {
    font-size: 30px;
    max-width: 300px;
    line-height: 40px;
  }
}

@media (max-width: 359px) {
  .menu__text p {
    font-size: 24px;
    max-width: 260px;
    line-height: 29px;
  }
}

.menu__arrow {
  margin: 0 auto;
  background: url("../img/СТРЕЛКАВНИЗ.svg") no-repeat;
  width: 79px;
  height: 56px;
}

@media (max-width: 767px) {
  .menu__arrow {
    background: url("../img/СТРЕЛКАВНИЗ.svg") no-repeat;
    background-position: center center;
    background-size: 40px 28px;
    margin: 0 auto;
    text-align: center;
  }
}

.company {
  background: #000000 url("../img/Vector 1.svg") no-repeat;
  background-size: 100%;
}

@media (max-width: 767px) {
  .company {
    background-size: 100%;
  }
}

.company__text {
  color: #fff;
  margin: 190px 0 0 0;
}

@media (max-width: 767px) {
  .company__text {
    margin: 80px 0 0 0;
  }
}

.company__title {
  display: inline-block;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

@media (max-width: 767px) {
  .company__title {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .company__title {
    margin: 90px 0 0 0;
    font-size: 12px;
  }
}

.company__title::before {
  content: "";
  background: #ffd447;
  width: 400%;
  right: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

.company__subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 1025px) {
  .company__subtitle {
    padding: 90px 0 0 0;
  }
}

@media (max-width: 767px) {
  .company__subtitle {
    font-size: 22px;
    padding: 90px 0 0 0;
  }
}

.company__item {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .company__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

.company__brend {
  width: 200px;
  text-align: center;
}

.company__brend img {
  width: 111px;
  height: 111px;
}

.company__name {
  margin: 10px 0 0 0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .company__name {
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
}

.company__subtext {
  margin: 0 auto;
  padding: 80px 0 50px 0;
  max-width: 970px;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

@media (max-width: 767px) {
  .company__subtext {
    font-size: 18px;
  }
}

.company__sublinetext p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffd447;
}

@media (max-width: 767px) {
  .company__sublinetext p {
    font-size: 18px;
  }
}

.company__sublinetext {
  font-family: Century Gothic;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 100px 0;
}

@media (max-width: 767px) {
  .company__sublinetext {
    font-size: 18px;
  }
}

.slider {
  min-height: 100vh;
}

.slider__item {
  position: relative;
}

.slider__body {
  background: url(../img/slider/Dacha.png) 100% 100%;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.slider__body1 {
  background: url(../img/slider/Demirtas.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__body2 {
  background: url(../img/slider/Renesans.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__body3 {
  background: url(../img/slider/Fonfoa.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__body4 {
  background: url(../img/slider/tnh2.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__body5 {
  background: url(../img/slider/tnh1.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__body6 {
  background: url(../img/slider/Villas.png) 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.slider__title {
  margin: 100px 0 0 0;
  color: #ffffff;
  display: inline-block;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

@media (max-width: 767px) {
  .slider__title {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .slider__title {
    margin: 90px 0 0 0;
    font-size: 12px;
  }
}

.slider__title::before {
  content: "";
  background: #ffd447;
  width: 400%;
  right: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

.slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 80%;
}

@media (max-width: 767px) {
  .slider__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80%;
  }
}

.slider__subtitle {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
  max-width: 900px;
  color: #ffffff;
}

@media (max-width: 1025px) {
  .slider__subtitle {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .slider__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80%;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 500px) {
  .slider__subtitle {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 30px 0;
    margin: 0 auto;
  }
}

.slider__subtitle p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  max-width: 700px;
  color: #ffffff;
}

@media (max-width: 1025px) {
  .slider__subtitle p {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 500px) {
  .slider__subtitle p {
    font-size: 24px;
    line-height: 30px;
  }
}

.slider__button button {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #000000;
  display: inline-block;
  background: #ffd447;
  border-radius: 48px;
  width: 550px;
  height: 90px;
}

@media (max-width: 1400px) {
  .slider__button button {
    width: 450px;
    height: 70px;
  }
}

@media (max-width: 500px) {
  .slider__button button {
    width: 155px;
    height: 36px;
    margin: 0 0 0 20px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider__item .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 10;
  top: 50%;
  width: 37px;
  height: 69px;
}

@media (max-width: 500px) {
  .slider__item .slick-arrow {
    width: 16px;
    height: 30px;
  }
}

.slider__item .slick-arrow.slick-prev {
  left: 100px;
  background: url("../img/slider/left.svg") 0 0/100% no-repeat;
}

@media (max-width: 1025px) {
  .slider__item .slick-arrow.slick-prev {
    left: 40px;
  }
}

@media (max-width: 500px) {
  .slider__item .slick-arrow.slick-prev {
    left: 30px;
  }
}

.slider__item .slick-arrow.slick-next {
  background: url("../img/slider/right.svg") 0 0/100% no-repeat;
  right: 100px;
}

@media (max-width: 1025px) {
  .slider__item .slick-arrow.slick-next {
    right: 40px;
  }
}

@media (max-width: 500px) {
  .slider__item .slick-arrow.slick-next {
    right: 30px;
  }
}

.news {
  height: 100vh;
  position: relative;
}

.news__back {
  background: url("../img/construction.png") 100% 100%;
  background-position: center center;
  height: 100vh;
  background-size: cover;
}

.news__title {
  margin: 100px 0 0 0;
  color: #ffffff;
  display: inline-block;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

@media (max-width: 767px) {
  .news__title {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .news__title {
    margin: 90px 0 0 0;
    font-size: 12px;
  }
}

.news__title::before {
  content: "";
  background: #ffd447;
  width: 400%;
  right: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

.news__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__image img {
  position: absolute;
  bottom: 100px;
  max-width: 1036px;
  width: 100%;
  height: 583px;
}

@media (max-width: 767px) {
  .news__image img {
    height: 453px;
  }
}

@media (max-width: 767px) {
  .news__image img {
    height: 453px;
    bottom: 200px;
  }
}

@media (max-width: 450px) {
  .news__image img {
    height: 253px;
    bottom: 400px;
  }
}

.ativity {
  background: #000000;
}

.activity__title {
  margin: 200px 0 0 0;
  color: #ffffff;
  display: inline-block;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}

@media (max-width: 767px) {
  .activity__title {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .activity__title {
    margin: 90px 0 0 0;
    font-size: 12px;
  }
}

.activity__title::before {
  content: "";
  background: #ffd447;
  width: 400%;
  right: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
}

.activity__text {
  text-align: center;
  margin: 0 auto;
  max-width: 992px;
  color: #ffffff;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  padding: 10px 0 100px 0;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 1025px) {
  .activity__text {
    padding: 90px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .activity__text {
    font-size: 22px;
    padding: 60px 0 40px 0;
  }
}

@media (max-width: 767px) {
  .activity__text {
    font-size: 18px;
  }
}

/*.activity__item {
}*/
.activity__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.activity__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  text-align: center;
  width: 300px;
}

@media (max-width: 767px) {
  .activity__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 450px) {
  .activity__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
}

.activity__body img {
  width: 145px;
  height: 114px;
}

.activity__name {
  margin: 30px 0 100px 0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .activity__name {
    font-size: 22px;
    margin: 10px 0 20px 0;
  }
}

.work {
  height: 100%;
}

.work__back {
  background: url("../img/ourwork.png") 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.work__title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  padding: 40px 0 35px 0;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767px) {
  .work__title {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .work__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 359px) {
  .work__title {
    font-size: 12px;
    line-height: 15px;
  }
}

.work__subtitle {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 55px 0;
}

@media (max-width: 767px) {
  .work__subtitle {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .work__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 359px) {
  .work__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
}

.work__subtitle p {
  color: #ffd447;
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}

@media (max-width: 767px) {
  .work__subtitle p {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .work__subtitle p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 359px) {
  .work__subtitle p {
    font-size: 12px;
    line-height: 15px;
  }
}

.work__list {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767px) {
  .work__list {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .work__list {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 359px) {
  .work__list {
    font-size: 12px;
    line-height: 15px;
  }
}

.work__list ul {
  margin: 0 auto;
}

.work__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 35px 0;
  max-width: 790px;
}

@media (max-width: 767px) {
  .work__list ul li {
    display: block;
  }
}

.work__list ul li img {
  width: 118px;
  height: 84px;
}

@media (max-width: 1025px) {
  .work__list ul li img {
    width: 80px;
    height: 50px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 767px) {
  .work__list ul li img {
    text-align: center;
    width: 41px;
    height: 29px;
    margin: 0 0 5px 0;
  }
}

.work__list p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffd447;
}

@media (max-width: 767px) {
  .work__list p {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .work__list p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 359px) {
  .work__list p {
    font-size: 12px;
    line-height: 15px;
  }
}

.footer {
  background-color: #000000;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1025px) {
  .footer__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__contact {
  width: 482px;
  height: 216px;
  left: 1316px;
  top: 6569px;
  margin: 0 55px;
  background: #ffd447;
  border-radius: 40px;
}

@media (max-width: 1400px) {
  .footer__contact {
    height: 150px;
  }
}

@media (max-width: 1025px) {
  .footer__contact {
    margin: 0px 0px 60px 0;
  }
}

.footer__contact:last-child {
  width: 482px;
  height: 216px;
  left: 1316px;
  top: 6569px;
  margin: 0 55px;
  background: #ffd447;
  border-radius: 40px;
}

@media (max-width: 1400px) {
  .footer__contact:last-child {
    height: 150px;
  }
}

@media (max-width: 1025px) {
  .footer__contact:last-child {
    margin: 0px 0px 0 0;
  }
}

.footer__contact p {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  padding: 20px 20px 20px 100px;
  color: #000000;
}

@media (max-width: 1400px) {
  .footer__contact p {
    font-size: 20px;
    line-height: 22px;
  }
}

.icon__place {
  background: url("../img/footer/place.svg") no-repeat;
  height: 100%;
  background-size: 87px 87px;
  margin: 20px 0 0 20px;
}

@media (max-width: 1400px) {
  .icon__place {
    background-size: 72px 72px;
  }
}

.icon__phone {
  background: url("../img/footer/phone.svg") no-repeat;
  height: 100%;
  background-size: 87px 87px;
  margin: 20px 0 0 20px;
}

@media (max-width: 1400px) {
  .icon__phone {
    background-size: 72px 72px;
  }
}

.icon__email {
  background: url("../img/footer/email.svg") no-repeat;
  height: 100%;
  background-size: 87px 87px;
  margin: 20px 0 0 20px;
}

@media (max-width: 1400px) {
  .icon__email {
    background-size: 72px 72px;
  }
}

.footer__icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon ul li {
  margin: 0 10px 15px 10px;
}
