.demirtas__slide1 {
    background: url(../img/Demirtas/slider/first.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.demirtas__logo {
    background: url("../img/demirtas/slider/logo.svg") no-repeat;
    margin: 20px 0 0 0;
    width: 260px;
    height: 97px;
    @include breakpoint(sxs) {
        background-size: 160px 50px;
    }
}
.demirtas__slide2 {
    background: url(../img/demirtas/slider/second.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.demirtas__slide3 {
    background: url(../img/demirtas/slider/third.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.demirtas__slide4 {
    background: url(../img/demirtas/slider/fourth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.demirtas__slide5 {
    background: url(../img/demirtas/slider/fifth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.demirtas__slide6 {
    background: url(../img/demirtas/slider/sixth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.demirtas__slide7 {
    background: url(../img/demirtas/slider/seventh.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.demirtas__slide8 {
    background: url(../img/demirtas/slider/eighth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.demirtas__slide9 {
    background: url(../img/demirtas/slider/ninth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.demirtas__slide10 {
    background: url(../img/demirtas/slider/tenth.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
