.why {
    background: #000;
    height: 100%;
}

.why__title {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: left;

    color: #ffffff;
    margin: 45px 0 0 0;
    @include breakpoint(lg-hd) {
        font-size: 18px;
        line-height: 22px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
    }
}

.why__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 0px 0;
    @include breakpoint(xs) {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
.why__left {
    flex: 0 1 1500px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    line-height: 29px;
    color: #f3df5c;
    @include breakpoint(lg-hd) {
        font-size: 18px;
        line-height: 18px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 25px 0;
    }
}
.why__left p {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    line-height: 29px;
    color: #f3df5c;
    @include breakpoint(lg-hd) {
        font-size: 18px;
        line-height: 18px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 25px 0;
    }
}
.why__left li {
    background: url("../img/Demirtas/li.svg") left 15px no-repeat;
    background-size: 42px 30px;
    height: 100%;
    padding: 12.5px 0 12.5px 55px;
}
.why__right {
    flex: 0 1 630px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin: 0 0 0 30px;
    line-height: 29px;

    color: #f3df5c;
    @include breakpoint(lg-hd) {
        font-size: 18px;
        line-height: 18px;
    }
    @include breakpoint(xs) {
        margin: 0 0 0 10px;
    }
    @include breakpoint(sxs) {
        font-size: 12px;
        line-height: 15px;
    }
}

.why__right li {
    padding: 35px 0 35px 80px;
    background-size: 55px 62px;
}
.why__right li:first-child {
    background: url("../img/Demirtas/ico/airplan.svg") left center no-repeat;
}
.why__right li:nth-child(2) {
    background: url("../img/Demirtas/ico/shop.svg") left center no-repeat;
}
.why__right li:nth-child(3) {
    background: url("../img/Demirtas/ico/mount.svg") left center no-repeat;
}
.why__right li:nth-child(4) {
    background: url("../img/Demirtas/ico/gym.svg") left center no-repeat;
}
.why__right li:nth-child(5) {
    background: url("../img/Demirtas/ico/family.svg") left center no-repeat;
}
.why__right li:last-child {
    background: url("../img/Demirtas/ico/home.svg") left center no-repeat;
}
