.news {
    position: relative;
    height: 100vh;
}

.news__back {
    background: url("../img/construction.png") 100% 100%;
    background-position: center center;
    min-height: 100vh;
    background-size: cover;
}

.news__title {
    margin: 100px 0 0 0;
    color: #ffffff;

    display: inline-block;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    position: relative;

    @include breakpoint(xs) {
        font-size: 22px;
    }
    @include breakpoint(smxs) {
        margin: 40px 0 0 0;
        font-size: 12px;
    }
}
.news__title::before {
    content: "";
    background: #ffd447;
    width: 400%;
    right: 0;
    height: 2px;
    position: absolute;
    bottom: -1px;
}

.news__image {
    display: flex;
    justify-content: center;
}
.news__image img {
    bottom: 100px;
    max-width: 1036px;
    width: 100%;
    height: 583px;
    @include breakpoint(xs) {
        height: 453px;
    }
    @include breakpoint(xs) {
        height: 453px;
        bottom: 200px;
    }
    @include breakpoint(sxs) {
        height: 253px;
        bottom: 200px;
    }
}

.news__subtitle {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    padding: 40px 0 15px 0;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #ffffff;
    @include breakpoint(lg-hd) {
        font-size: 50px;
    }
    @include breakpoint(xs) {
        font-size: 30px;

        line-height: 40px;
    }
    @include breakpoint(ultra-sxs) {
        font-size: 24px;

        line-height: 29px;
    }
}

.news__subtext {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    margin: 25px 0 0 0;
    line-height: 29px;
    text-align: center;

    color: #ffffff;
    @include breakpoint(xs) {
        font-size: 22px;
        line-height: 25px;
    }
    @include breakpoint(sxs) {
        font-size: 18px;
        line-height: 22px;
    }
    @include breakpoint(ultra-sxs) {
        font-size: 12px;
        line-height: 15px;
    }
}
