.slider {
    min-height: 100vh;
}

.slider__item {
    position: relative;
}

.slider__body {
    background: url(../img/slider/Dacha.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;

    overflow: hidden;
}
.slider__body1 {
    background: url(../img/slider/Demirtas.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.slider__body2 {
    background: url(../img/slider/Renesans.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.slider__body3 {
    background: url(../img/slider/Fonfoa.png) no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    @include breakpoint(sxs) {
        background-size: 200% 100%;
    }
}
.slider__body4 {
    background: url(../img/slider/tnh2.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.slider__body5 {
    background: url(../img/slider/tnh1.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.slider__body6 {
    background: url(../img/slider/Villas.png) 100% 100%;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
.slider__title {
    margin: 100px 0 0 0;
    color: #ffffff;

    display: inline-block;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    position: relative;

    @include breakpoint(xs) {
        font-size: 22px;
    }
    @include breakpoint(smxs) {
        margin: 90px 0 0 0;
        font-size: 12px;
    }
}
.slider__title::before {
    content: "";
    background: #ffd447;
    width: 400%;
    right: 0;
    height: 2px;
    position: absolute;
    bottom: -1px;
}

.slider__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80%;
    @include breakpoint(xs) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        height: 80%;
    }
}

.slider__subtitle {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    max-width: 900px;
    color: #ffffff;
    @include breakpoint(md-up) {
        font-size: 50px;
        line-height: 50px;
    }
    @include breakpoint(xs) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 80%;
        line-height: 50px;
        margin: 0 0 30px 0;
    }
    @include breakpoint(smxs) {
        font-size: 24px;
        line-height: 30px;
        margin: 0 auto;
    }
}
.slider__subtitle p {
    display: flex;
    align-items: flex-end;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    max-width: 700px;
    color: #ffffff;
    @include breakpoint(md-up) {
        font-size: 50px;
        line-height: 50px;
    }
    @include breakpoint(smxs) {
        font-size: 24px;
        line-height: 30px;
    }
}

.slider__button button {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    color: #000000;
    display: inline-block;
    background: #ffd447;
    border-radius: 48px;
    width: 550px;
    height: 90px;

    @include breakpoint(lg-hd) {
        width: 450px;
        height: 70px;
    }
    @include breakpoint(smxs) {
        width: 155px;
        height: 36px;
        margin: 0 0 20px 20px;
        font-family: Century Gothic;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
}

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}

.slider__item .slick-arrow {
    position: absolute;
    font-size: 0;
    z-index: 10;
    top: 50%;
    width: 37px;
    height: 69px;
    @include breakpoint(smxs) {
        width: 16px;
        height: 30px;
    }
}

.slider__item .slick-arrow.slick-prev {
    left: 100px;
    background: url("../img/slider/left.svg") 0 0 / 100% no-repeat;

    @include breakpoint(md-up) {
        left: 40px;
    }
    @include breakpoint(smxs) {
        left: 30px;
    }
}

.slider__item .slick-arrow.slick-next {
    background: url("../img/slider/right.svg") 0 0 / 100% no-repeat;
    right: 100px;
    @include breakpoint(md-up) {
        right: 40px;
    }
    @include breakpoint(smxs) {
        right: 30px;
    }
}
